
@{
    ViewData["Title"] = "Index";
}

<h1 style="margin-top: 30px;">Hi Epam :)</h1>

<h3 style="margin-top: 15vh;">This is a TODO Lists application created in ASP .NET Core MVC (.Net 6.0). I used partial views, AJAX, Automapper, View Components, Entity Framework Core, JavaScript and JQuery. I hope you will like it.</h3>